<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.1.min.js"></script>


</head>
<body>
<div class="box">
    <input type="file" class="input-psd-file">
    <p class="psd-input-title">فایل psd خود را وارد کنید</p></div>
<div class="box">
     <input type="number" class="input-num-merge" min="0">
    <p class="num-merge-title">عدد مرج</p>
</div>
<div class="box">
   <select name="merge-condition" id="merge-condition">
  <option value="merge">merge</option>
  <option value="default">no-merge</option>
  <option value="merge-img">merge-image</option>
</select>
</div>
<div class="box">
     <input type="number" class="input-counter" min="0">
    <p class="counter-title">تعداد همزمان</p>
</div>

<div class="submit-btn">
    ارسال
</div>

<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>